<footer>
    <p class="footerCopyright"><a href="/">Mr Fabri</a> / All rights reserved.</p>

    <ul class="footerMenu">
        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="/contact">Contact</a>
        </li>

        <li>
            <a href="/about">About me</a>
        </li>
    </ul>
</footer>