<nav id="nav">
    <div class="logo">
        <a class="animated bounceIn"href="/"></a>
    </div>

    <menu id="menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/about">About me!</a>
            </li>
        </ul>
    </menu>

    <div id="toggleMenu"></div>

    <div class="social-links">
        <li>
            <a class="slItems slItem1" href="https://www.instagram.com/mrfabri02/" target="_blank"></a>
        </li>

        <li>
            <a class="slItems slItem2" href="https://discord.gg/dyCVPbZ" target="_blank"></a>
        </li>

        <li>
            <a class="slItems slItem3" href="https://www.linkedin.com/in/fabricio-flores-43632217b/" target="_blank"></a>
        </li>
    </div>
</nav>